<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="shortcut icon" href="https://www.iconfinder.com/data/icons/communication-179/64/x-21-512.png" type="image/x-icon">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="/view/css/style.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contato</title>
</head>
<body >
    <div id="h_img">
    </div>
    <div class="container return" id="menu">
        <div class="row col-md-12 menu_link">
            <div class="col-md-4"><a href="index.html">Home Page</a></div>
            <div class="col-md-4"><a href="playlist.html">Play-list</a></div>
            <div class="col-md-4"><a href="#">Contato</a></div>
        </div>
    </div>
    <div class="col-md-12" id="texo_contato">
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor amet eveniet, optio nostrum quia quo voluptates aperiam qui! Nobis tenetur unde excepturi ducimus magni praesentium doloribus esse quidem debitis nostrum!
        </p>
    </div>

    <form action="#">
        <div class="row col-md-12 combo_info">
            <div class="cold-md-3" style="margin-left: 40px;">
              
                    <div class="form-group">
                      <label for="nomeUser">Nome Completo</label>
                      <input type="text" class="form-control form-control-lg" id="nomeUser">
                    </div>
                    
                        <div class="form-group">
                          <label for="inputEmail">E-mail</label>
                          <input type="email" class="form-control form-control-lg" id="inputEmail">
                        </div>
            </div>

            <div class="col-md-9">
                     Mensagem
                <textarea class="form-control"name="" id="" cols="60" rows="8"></textarea>
            </div>

        </div>
  
    </form>
    <div class="container" style="margin-top:20px">
        <div class="form-group">
            <button id="btn_edit" class="btn btn-success btn-block">Enviar</button>
        </div>
    </div>
   



    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>    
</body>
</html>