<!DOCTYPE html>
<html lang="pt-br" ng-app="playListModule">

<head>
  <meta charset="UTF-8">
  <link rel="shortcut icon" href="https://www.iconfinder.com/data/icons/communication-179/64/x-21-512.png"
    type="image/x-icon">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
  <link rel="stylesheet" href="/view/css/style.css" type="text/css" media="screen">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
  <title>Play-List</title>
</head>

<body ng-controller="playListController">
  <div class="play_list"></div>
  <ul class="nav justify-content-center nav_menu return">
    <li class="nav-item">
      <a class="nav-link active link_menu" href="index.html">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link active link_menu" href="contato.html">Contato</a>
    </li>
  </ul>
      <div class="container ">
        <table class="back_table_color centered card_home">
          <thead>
            <tr>    
              <div class="row">         
              <th>Music</th>
              <th>Compositor</th>
              <th>Duration</th>
              </div>
            </tr>
           </thead>
           <tbody>
            <tr class="back_line_color" ng-repeat="song in playList">
            
              <td><a id="player" href="#meu-modal" class="modal-trigger">{{song.nome.toUpperCase()}}</a></td>
              <td>{{song.compositor}}</td>      
              <td>{{song.duration}}</a></td>
            </tr>
          </tbody>
        </div>
       </table>
      </div>
      
        <div class="container">
          <div id="meu-modal" class="modal bottom-sheet modal-bottom"><audio  controls></audio></div>
           
        </audio> </div>

         
        
       
  
  <script src="/lib/angular/angular.min.js"></script>
  <script src="/js/app/app.js"></script>
  <script src="/js/app/controllers.js"></script>
  <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
 
<script src="/js/materialize/init.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>



</body>

</html>